.home-sidebar{
    height: 100vh;
    width: max-content;
    padding: 100px 35px ;
}

.sidebar-items{
    font-size: 24px;
    margin-bottom: 50px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(128, 128, 233);

}

a {
    text-decoration: none;
}